section{
    background-color: coral;
    padding: 10px;      

    h1{
        background-color: white;
        color:red;
        width:40%;
        margin:15px;
        font: {
            family: Helvetica;
            weight:Bold;
            size:3em;
        }
    }

    p{
        color:green;
    }
}